/* TodoTable_antd.module.css */
.customTable :global(.ant-table) {
    background-color: #e2e8f0; /* đậm hơn */
}

.customTable :global(.ant-table-thead > tr > th) {
    background-color: #cbd5e1; /* header đậm hơn nữa */
    color: #0f172a;
}

.customTable :global(.ant-table-tbody > tr > td) {
    background-color: #e2e8f0 !important; /* ô đậm hơn */
}

.customTable :global(.ant-table-tbody > tr:hover > td) {
    background-color: #cbd5e1 !important; /* hover đậm */
}


.tableContainer {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    height: 40%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.completed {
    text-decoration: line-through;
    color: #999;
}

.normal {
    color: #333;
}

.actions {
    display: flex; /* dùng flex để can giữa */
    justify-content: center; /* giữa theo trục ngang */
    align-items: center; /* giữa theo trục dọc */
    gap: 8px; /* khoảng cách giữa 2 nút */
    height: 100%; /* chiếm toàn bộ chiều cao ô để can dọc chuẩn */
    flex-wrap: wrap;
}